body, td
{

  font-family: '\5FAE\8F6F\96C5\9ED1',Tahoma,Arial,Helvetica,sans-serif;
      font-size: 12px;
}
#header,#footer,#content
{
      width:980px;
      height:30px;
	  clear:both;
}
#left
{
      width:238px;
	  padding: 5px;
	  text-align:left;
	  position: relative;
	  float: left
}
#center
{
	  padding: 5px;
	  position: relative;
	  float: left
}
#longcenter
{
	  padding: 5px;
	  position: relative;
      width:740px;
	  float: left
}
#right
{
	  padding: 5px;
	  position: relative;
      width:238px;
	  float: right
}

/*list No. style*/
table.list td.number,span.number{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	line-height: 20px;
}

/* 列表页Table样式 */
table.list {
	background-color:#FFFFFF;
	width: 98%;
	text-align: center;
}
table.list th {
	font-family: '\5FAE\8F6F\96C5\9ED1',Tahoma,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	padding-top:4px;
	padding-bottom:5px;
	line-height: 20px;
	background: #E8E8E8;
}
table.list th a {
	font-family:'\5FAE\8F6F\96C5\9ED1',Tahoma,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333336;
	text-align: center;
	padding-top:4px;
	padding-bottom:5px;
	line-height: 20px;
	background: #E8E8E8;
}
table.list th a:hover {
	font-family: '\5FAE\8F6F\96C5\9ED1',Tahoma,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #ff0000;
	text-align: center;
	padding-top:4px;
	padding-bottom:5px;
	line-height: 20px;
	background: #E8E8E8;
}
table.list th a:visited {
	font-family: '\5FAE\8F6F\96C5\9ED1',Tahoma,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	padding-top:4px;
	padding-bottom:5px;
	line-height: 20px;
	background: #E8E8E8;
}
table.list td {
	font-family: '\5FAE\8F6F\96C5\9ED1',Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333336;
	text-align: center;
	line-height: 18px;
}

/* displaytag table 奇数行样式 */
tr.odd {
	vertical-align: middle;
	height: 28px;
	background-color: #ffffff;
}

/* displaytag table 偶数行样式 */
tr.tableRowEven,tr.even {
	vertical-align: middle;
	height: 28px;
	background-color: #fafafa;
}

/* displaytag 分页条样式 */
span.pagebanner {
	font-family: Tahoma;
	font-size: 12px;
	width: 100%;
	line-height: 28px;
	letter-spacing: 2px;
	padding-left: 5px;
	display: inline;
}

/* displaytag 分页条样式 */
span.pagelinks {
	font-family: Tahoma;
	font-size: 12px;
    background-color: #eee ;
    width: 100%;
    line-height: 28px;
    letter-spacing: 2px;
    padding-left: 5px;
    display: inline;
}
#foot{
	padding-top: 10px;
	clear: both;
	background-color: #619a94;
	color: #FFF;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-top: 10;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-bottom: 10px;
	line-height: 20px;
	text-align: center;
}

#foot a{ color:#FFF;}.btn_uploadphoto {
	line-height: 24px;
	color: #FFF;
	background-color: #2E7E7A;
	text-align: center;
	height: 24px;
	width: 98px;
	cursor: pointer;
}
#SpecialtyList {
	font-size: 14px;
	line-height: 25px;
	background-color: #EBEBEB;
	width: 100%;
	border: 1px solid #000;
}
#SpecialtyList ul li {
	text-align: left;
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
}
#SpecialtyList .SpecialtyOrder {
	width: 60px;
	text-align: left;
}
#SpecialtyList span {
	display: block;
	float: left;
}
#SpecialtyList .acceptNum {
	width: 80px;
	text-align: center;
}
#SpecialtyList .workPlace {
	width: 130px;
}
#SpecialtyList .specName {
	width: 220px;
}
#SpecialtyList  .acceptLevel {
	width: 320px;
}
#workApply {
	line-height: 35px;
}
#workApply tr td {
	font-size: 14px;
	background-color: #FFF;
}
#workApply .SpecialtyOrder {
	display: block;
	height: 25px;
	width: 80px;
	background-color: #659D94;
	margin-right: auto;
	margin-left: auto;
	line-height: 25px;
	color: #FFF;
	font-weight: bold;
}
.btn_operate {
	border-style: none;
    border-color: inherit;
    border-width: medium;
    color: #FFF;
	background-color: #338D89;
	text-align: center;
	height:20px;
	line-height:20px;
	width: 50px;
	margin-left:1px;
	cursor:pointer;
	display:block;
	float:left;
}
.btn_operate a{
	color: #FFF;
	height:20px;
	line-height:20px;
}