@font-face {
  font-family: 'xinwei';
  src: url('/fonts/huawenxinwei-webfont.eot');
  src: url('/fonts/huawenxinwei-webfont.woff2') format('woff2'),url('/fonts/huawenxinwei-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/huawenxinwei-webfont.woff') format('woff'), url('/fonts/STXINWEI.TTF') format('truetype'), url('/fonts/huawenxinwei-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
    font-family: "华文中宋";
    font-size: 22pt;
    width: 100%;
    text-align: center;
}
.PageNum {
     width: 100%;
    text-align: center;
    font-size: 10px;
    position: absolute;
    bottom: 0;

}
u{font-family:'华文新魏',xinwei;font-size:12pt;}
#PrintBody {height:100%;width:auto;overflow:auto; 
}
.PageBody{height:970px; overflow:hidden;position:relative;}
.MPage1 table{width:100%; text-align: center; margin: 0; padding: 0;}
.MPage1 td{line-height: 180%;}

.MPage2 p {font-size: 16pt; line-height: 150%; font-family:'宋体';text-indent:30pt;
}
.MPage3 table td{font-size:10pt;line-height:150%; text-align:center;}
.MPage3 table p{margin:0;padding:0;line-height:150%;margin:0;padding:0;}
.MPage4 p {font-size: 15pt; line-height: 150%; font-family:'宋体';text-indent:30pt;
}
.MPage5 p {font-size: 14pt; line-height: 180%; font-family:'宋体';text-indent:28pt;margin:0;padding:0;
}
.MPage6 td{text-align:center;font-size: 14pt;line-height: 150%; font-family:'宋体';
}
.MPage6 p { text-align:left;font-size: 14pt;line-height: 150%;margin:0;padding:0;
}
.MPage7,.MPage7 td{text-align:center;font-size: 10.5pt;line-height: 150%; font-family:'宋体';margin:0;padding:0;
}
.MPage7 p { text-align:left;font-size: 10.5pt;line-height: 150%;font-family:'宋体';margin:0;padding:0;
}
.MPage8 p { text-align:left;font-size: 10.5pt;line-height:150%;font-family:'宋体';margin:0;padding:0;
}
.MPage9 p { text-align:left;font-size: 10.5pt;line-height:150%;font-family:'宋体';margin:0;padding:0;
}
.MPage10 p{ text-align:left;font-size: 10.5pt;line-height:180%;font-family:'宋体';margin:0;padding:0;
}
.MPage10 td { text-align:center;font-size: 10.5pt;line-height:180%;font-family:'宋体';margin:0;padding:0;
}
.MPage11 p{ text-align:left;font-size: 10.5pt;line-height:180%;font-family:'宋体';margin:0;padding:0;width:100%; clear: both;display: inline-block;position:relative;}
.MPage11 label{width:150px; float: left;text-align: justify;position:absolute;height: 100%;}
.MPage11 u{width: 100%;padding-left: 150px; display: block;  text-decoration: none;}
.MPage11 u span{ width: 100%; display: block; border-bottom: solid 1px #000000;text-decoration:none;}
.MPage12 p{ text-align:left;font-size: 10.5pt;line-height:250%;font-family:'宋体';margin:0;padding:0;text-indent:21pt;
}
.MPage13 p{ text-align:left;font-size: 10.5pt;line-height:250%;font-family:'宋体';margin:0;padding:0;text-indent:21pt;
}
.MPage14 p{ text-align:left;font-size: 10.5pt;line-height:250%;font-family:'宋体';margin:0;padding:0;text-indent:21pt;
}
.MPage15 p{ text-align:left;font-size: 10.5pt;line-height:250%;font-family:'宋体';margin:0;padding:0;text-indent:21pt;
}
.MPage16 p{ text-align:left;font-size: 10.5pt;line-height:250%;font-family:'宋体';margin:0;padding:0;text-indent:21pt;
}
.MPage17 p{ text-align:left;font-size: 10.5pt;line-height:250%;font-family:'宋体';margin:0;padding:0;text-indent:21pt;
}
.MPage18 p{ text-align:left;font-size: 10.5pt;line-height:250%;font-family:'宋体';margin:0;padding:0;text-indent:21pt;
}
.MPage19 p{ text-align:left;font-size: 10.5pt;line-height:250%;font-family:'宋体';margin:0;padding:0;text-indent:21pt;
}
.MPage20 p{ text-align:left;font-size: 10.5pt;line-height:250%;font-family:'宋体';margin:0;padding:0;text-indent:21pt;
}
.MPage20 td { text-align:center;font-size: 10.5pt;line-height:180%;font-family:'宋体';margin:0;padding:0;
}
.MPage21 td { text-align:left;font-size: 10.5pt;line-height:180%;font-family:'宋体';margin:0;padding:0;
}
.MPage22 p{ text-align:left;font-size: 10.5pt;line-height:150%;font-family:'宋体';margin:0;padding:0;clear: both;position:relative;}
.MPage22 label{width:200px; float: left;text-align: justify;position:absolute;height: 100%;}
.MPage22 .labelB{width:100px;}
.MPage22 u{width: 100%;padding-left: 200px; display: block;  text-decoration: none;}
.MPage22 .UB{padding-left: 100px; }
.MPage22 .UBW{width: 200px;float: left;}
.MPage22 u span{ width: 100%; display: block; border-bottom: solid 1px #000000;text-decoration:none;}
.MPage22 .TextArea{text-indent:21pt; }
.MPage22 .TextArea u{width: auto;text-decoration:underline; border: none;display: inline;padding: 0;margin: 0;}
.MPage22 .TextArea u span{width: auto;text-decoration:underline; border: none;display: inline;padding: 0;margin: 0;}
.MPage23 td { text-align:left;font-size: 10.5pt;line-height:180%;font-family:'宋体';margin:0;padding:0;
}
.MPage24 p { text-align:left;font-size: 16pt;line-height:200%;font-family:'宋体';margin:0;padding:0;text-indent:32pt;
}
.MPage25 p { text-align:left;font-size: 12pt;line-height:200%;font-family:'宋体';margin:0;padding:0;text-indent:24pt;
}
.MPage26 p { text-align:left;font-size: 12pt;line-height:200%;font-family:'宋体';margin:0;padding:0;text-indent:24pt;
}
.MPage27 p { text-align:left;font-size: 16pt;line-height:200%;font-family:'宋体';margin:0;padding:0;text-indent:32pt;
}
.MPage28 p,.MPage28 u { text-align:left;font-size: 16pt;line-height:200%;font-family:'宋体';margin:0;padding:0;text-indent:32pt;
}
.MPage29 p{ text-align:left;font-size: 16pt;line-height:200%;font-family:'宋体';margin:0;padding:0;text-indent:32pt;
}
.MPage30 p{ text-align:left;font-size: 12pt;line-height:180%;font-family:'宋体';margin:0;padding:0;text-indent:24pt;
}
.MPage30 td{padding: 4px;text-align:center;font-family:'宋体';}
.MPage31 p{ text-align:left;font-size: 14pt;line-height:200%;font-family:'宋体';margin:0;padding:0;text-indent:0;
}
.MPage32 img{ width: 290px;height: 180px;
}
.MPage33 p{ text-align:left;font-size: 10.5pt;line-height:170%;font-family:'宋体';margin:0;padding:0;text-indent:0;
}
.MPage34 p{ text-align:left;font-size: 10.5pt;line-height:170%;font-family:'宋体';margin:0;padding:0;text-indent:0;
}
.MPage35 p{ text-align:left;font-size: 12pt;line-height:200%;font-family:'宋体';margin:0;padding:0;text-indent:0;
}
.MPage35 td { text-align:center;font-size: 12pt;line-height:200%;font-family:'宋体';margin:0;padding:0;
}
.MPage36 p{ text-align:left;font-size: 15pt;line-height:200%;font-family:'宋体';margin:0;padding:0;text-indent:0;
}
.MPage36 td { text-align:center;font-size: 15pt;line-height:200%;font-family:'楷体';margin:0;padding:0;
}