body {
}
.HPrintPage  { 
	margin-top: 130px;
	margin-left: -120px;
	transform:rotate(270deg);
-ms-transform:rotate(270deg); 	/* IE 9 */
-moz-transform:rotate(270deg); 	/* Firefox */
-webkit-transform:rotate(270deg); /* Safari 和 Chrome */
-o-transform:rotate(270deg); 
}