body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0px;padding:0px;border:0px;}
body{  font-family: Arial, Helvetica, sans-serif;}
ul{list-style:none;}

/* a{text-decoration:underline;}
a:link{color:#747474;}
a:visited{color:#747474;}
a:hover,a:active,a:focus{color:#0a7671;} */

.top_10{ margin-top:10px;}
.clearit{clear:both;}
select{ background:#fff; width:170px;}
input{color:#000;}

.header{ width:986px; margin:0px auto; height:81px; background:#fff; padding-bottom:1px;}
.header_left{ float:left; width:auto; margin:12px 0 0 12px;}
.header_right{ width:auto; float:right;}
.me_top_content{ float:right; height:81px;}
.me_top_content li{ float:left; margin-left:1px; display:inline; }
.me_top_content li.login_on{  height:47px; padding:15px; background:url(../images/me_header_bg.gif) repeat-x; line-height:19px; }


.location{
	width: 986px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	clear: both;
	/*border-radius: 5px 5px 0 0;*/
	margin-top: 5px;
	background-color: #1CAFB6;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-size: 12px;
}

.location a{ color:#fff; text-decoration:none; }
.location a:hover{ text-decoration:underline; }
.location_left{ float:left; padding-left:15px;}
.location_right{ float:right; padding-right:15px;}

.content{ width:984px; border:#006f6b 1px solid; border-top:none; background:#fff; margin:0px auto; padding-top:10px; overflow:hidden;}

.left{ float:left; width:170px; padding-left:15px; padding-top:15px;}
.left_List{ width:170px;}
.left_List ul{ padding:10px 0px;}
.left_List ul li{ width:162px; padding-top:7px; margin:0px; text-indent:30px;}
.left_List ul li.one{ height:27px; background:url(../images/me_left_bg_01.gif) left no-repeat;}
.left_List ul li.two{ height:26px; background:url(../images/me_left_bg_02.gif) left no-repeat;}
.left_List ul li.three{ height:28px; background:url(../images/me_left_bg_03.gif) left no-repeat;}

.right{
	width: 700px;
	margin-right: 15px;
	display: inline;
}
.process{ background:url(../images/process_bj_1.gif); width:100%; height:82px;}
.processedit{ background:url(../images/process_bj_1.gif); width:100%; height:82px;}
.processedit li{ float:left;}
.process li{ float:left;}
.current{ width:100%; height:41px; background:url(../images/me_icon_02.gif) center no-repeat;}
.current_on{ width:100%; height:41px;}
.icon_fill{ float:left; width:16px; height:12px; margin:15px 5px 0px 7px; background:url(../images/me_icon_04_.gif) no-repeat;}
.icon_fill_on{ float:left; width:16px; height:12px;} /* padding:15px 5px 0px 7px; */
.process_text{ float:left; padding-top:10px;}
.column{ background:url(../images/me_icon_23.gif) no-repeat; width:100%; height:23px; padding-top:6px; font-size:14px; font-weight:bold; color:#006f6b; text-indent:16px;}
.column_long{ background:url(../images/me_icon_23_long.gif) no-repeat; width:100%; height:23px; padding-top:6px; font-size:14px; font-weight:bold; color:#006f6b; text-indent:16px;}
.column_long_long{ background:url(../images/me_icon_23_long_long.gif) no-repeat; width:100%; height:23px; padding-top:6px; font-size:14px; font-weight:bold; color:#006f6b; text-indent:16px;}
.column_long_long_long{ background:url(../images/me_icon_23_long_long_long.gif) no-repeat; width:100%; height:23px; padding-top:6px; font-size:14px; font-weight:bold; color:#006f6b; text-indent:16px;}
.column02{ background:url(../images/me_icon_23.gif) no-repeat; width:100%; height:23px; padding-top:6px; font-size:14px; font-weight:bold; color:#006f6b; text-indent:16px;}
.column02_long{ background:url(../images/me_icon_23_long.gif) no-repeat; width:100%; height:23px; padding-top:6px; font-size:14px; font-weight:bold; color:#006f6b; text-indent:16px;}
.column02_long_long{ background:url(../images/me_icon_23_long_long.gif) no-repeat; width:100%; height:23px; padding-top:6px; font-size:14px; font-weight:bold; color:#006f6b; text-indent:16px;}
.columnbj{ width:738px; background:#eee; overflow:hidden;}
.line{ width:738px; border-bottom:none; border-top:none; background:#eee; overflow:hidden;}
.page{ width:739px; 
overflow:hidden; padding:15px 0; text-align:center; background-color:#fff;
}
.right_foot{}

.Form_left{ float:left; width:710px; overflow:hidden;}
.Form_left ul{ width:670px; padding:15px; overflow:hidden;}
.Form_left ul li{ width:100%; overflow:hidden;}
.Form_right{ width:20px; float:left; overflow:hidden;}

.input{width:165px;height:22px;border-top-width:  1px;line-height:22px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;	border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #b9b9b9;	border-right-color: #d4d4d4;border-bottom-color: #e2e2e2;border-left-color: #d4d4d4;}
.input2{width:265px;height:22px;border-top-width: 1px;line-height:22px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;	border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #b9b9b9;	border-right-color: #d4d4d4;border-bottom-color: #e2e2e2;border-left-color: #d4d4d4;}
.input3{width:265px;height:60px;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;	border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #b9b9b9;	border-right-color: #d4d4d4;border-bottom-color: #e2e2e2;border-left-color: #d4d4d4;}
.input4{width:450px;height:110px;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;	border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #b9b9b9;	border-right-color: #d4d4d4;border-bottom-color: #e2e2e2;border-left-color: #d4d4d4;}

.righttopbj{ width:100%; height:29px; background:url(../images/me_icon_23.gif) no-repeat;}
.righttopbj_long{ width:100%; height:29px; background:url(../images/me_icon_23_long.gif) no-repeat;}
.righttopbj_left{font-size:0;}
.righttopbj_text{ padding-left:16px; padding-top:6px; font-size:14px; font-weight:bold; color:#006f6b;}
.righttopbj_right{font-size:0;}

.footer{ width:986px; color:#006f6b; margin:0 auto; text-align:center; padding:10px 0;}
.footer a{ color:#006f6b;}

.header_white,.header_white a:link,.header_white a:visited{font-size: 12px;line-height: 12px;font-weight: normal;color: #b4cec8;	text-decoration: none;}
.header_white a:hover{font-size: 12px;line-height: 12px;font-weight: normal;color: #ffec86; text-decoration: none;}

.yellow,.yellow a:link,.yellow a:visited{font-size: 12px;line-height: 34px;font-weight: normal;color: #ffec86;	text-decoration: none;}
.yellow a:hover{font-size: 12px;line-height: 34px;font-weight: normal;color: #b4cec8; text-decoration: none;}

.gray,.gray a:link,.gray a:visited{
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #000;  /*color:#595959;*/
	text-decoration: none;
}
.gray a:hover{font-size: 12px;line-height: 24px;font-weight: normal;/*color: #0033CC;*/ text-decoration: none;}

.blue,.blue a:link,.blue a:visited{font-size: 12px;line-height: 24px;font-weight: normal; color:#000;  /*color:#0277cb;*/ text-decoration: none;}
.blue a:hover{font-size: 12px;line-height: 24px;font-weight: normal;color: #000; text-decoration: none;}

.black,.black a:link,.black a:visited{font-size: 12px;line-height: 24px;font-weight: normal;color:#000; text-decoration: none;}
.black a:hover{font-size: 12px;line-height: 24px;font-weight: normal;color: #0277cb; text-decoration: none;}

.footer_white,.footer_white a:link,.footer_white a:visited{font-size: 12px;line-height: 24px;font-weight: normal;color: #b4cec8;	text-decoration: none;}
.footer_white a:hover{font-size: 12px;line-height: 24px;font-weight: normal;color: #FFFF00; text-decoration: none;}

.black14,.black14 a:link,.black14 a:visited{font-size: 14px;line-height: 26px;font-weight: bold;color:#000; text-decoration: none;}
.black14 a:hover{font-size: 14px;line-height: 26px;font-weight: bold;color: #0277cb; text-decoration: none;}

.gray02,.gray02 a:link,.gray02 a:visited{font-size: 12px;line-height: 24px;font-weight: normal; color:#000; color:#338d89; text-decoration: none;}
.gray02 a:hover{font-size: 12px;line-height: 24px;font-weight: normal;color: #0033CC; text-decoration: none;}
.gray02 p{ color:#338d89;}

.gray03,.gray03 a:link,.gray03 a:visited{font-size: 12px;line-height: 30px;font-weight: normal; color:#000; /*color:#a3a3a3;*/ text-decoration: none;}
.gray03 a:hover{font-size: 12px;line-height: 30px;font-weight: normal;color: #0033CC; text-decoration: none;}

.gray30,.gray30 a:link,.gray30 a:visited{font-size: 12px;line-height: 30px;font-weight: normal; color:#000; /*color:#595959;*/ text-decoration: none;}
.gray30 a:hover{font-size: 12px;line-height: 30px;font-weight: normal;color: #0033CC; text-decoration: none;}

.red,.red a:link,.red a:visited{font-size: 12px;line-height: 24px;font-weight: normal;color:#FF0000; text-decoration: none;}
.red a:hover{font-size: 12px;line-height: 24px;font-weight: normal;color: #0033CC; text-decoration: none;}

.jswhite{font-size: 12px;line-height: 24px;font-weight: normal;color:#fff; text-decoration: none;}

.js{ width:500px; padding:2px; border:solid 1px #0a7671; background-color:#FFFFFF; overflow:hidden;}
.js_top{width:100%; height:24px; background-color:#0a7671;}
.js_text{float:left; text-indent:5px;}
.js_icon{float:right;padding:5px;}

#tips{ width:332px; padding:20px 18px 5px 5px; margin:7px 0 0 381px; z-index:2px; border:#e3c67f 1px solid; color:#c49138; background:#fff6bf; clear:both; position:absolute;}
#tips img{ position:absolute; right:0; top:0;}


.content .left{
	width: 200px;
	height: auto;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
}
.content .left dl dt{ width:172px; margin:0 auto; margin-top:15px; text-indent:20px; font-size:14px; font-weight:bold; color:#006965; height:24px; line-height:24px; background:url(../images/main/n_left_title_01.gif) left center no-repeat;}
.content .left dl dd{
	width: 200px;
	text-indent: 32px;
	height: 50px;
	line-height: 50px;
	background-color: #f4f4f4;
	background-repeat: no-repeat;
	background-position: 15px center;
	margin-top: 1;
	margin-right: auto;
	margin-bottom: 1;
	margin-left: auto;
	background-image: url(../images/triangle_left.png);
	cursor: pointer;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #666;
}
.content .left dl dd:hover{
	background-color: #ebefec;
}

.content .left dl dd a{
	color: #333;
	text-decoration: none;
}
